

body {
  font-family: Myriad Pro Regular, Helvetica, Arial Unicode MS, Arial, sans-serif !important;

}

h2 {
    margin-height: 100px;
    font-weight :normal;
    font-size: 125%;

}

[data-role="content"] {
    margin-left: 20px;
    padding-height: 40px;
}

div.activeDot {
	width: 16px;
	height: 16px;
	background: url('../img/black_dot.png');
	margin: 10px auto;
}

div.greyDot {
	width: 16px;
	height: 16px;
	background: url('../img/grey_dot.png');
	margin: 10px auto;
	cursor: pointer;
}

table td.tdLeft {
	width: 90%;
}

table td.tdRight {
	width: 10%;
}

.fillPanel {
	width: 100%;
}

.contentLeft {
	min-height: 100%;
}

.contentRight {
}

.rightPanelAbs {
	position: fixed;
	top: 0;
	height: 100%;
	width: 10%;
}

.innerRightPanelAbs {
	position: absolute;
	top: 160px;
}

.readingCheckbox {
	width: 43px;
	height: 43px;
	position: absolute;
	bottom: 1em;
	right: 1em;		
}

.unreadCheckbox {
	background: url('../img/check.png');
	cursor: pointer;
}

.readCheckbox {
	background: url('../img/check_green.png');	
}

div.scoreAnimationBegin {
	position: absolute;
	top: 50px;
	right: 20px;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	color: #fff;
	background: #613D2D;
	font-size: 40px;
	line-height: 80px;
}
div#progress1 {
	width: 42%;
	height: 30px;
	border: 1px solid #eee;
	border-radius: 5px;
	background: #e95d22;
}

div#progress2 {
	width: 66%;
	height: 30px;
	border: 1px solid #eee;
	border-radius: 5px;
	background: #009e68;
}

.ui-title {
	text-shadow: none !important;
	font-size: 16pt !important;
	font-weight: normal !important; 
	text-transform: uppercase !important;	
}

div#progress3 {
	width: 10%;
	height: 30px;
	border-radius: 5px;
	background: #017890;
}

div.progressBorder {
	width: 100%;
	border: 3px solid #888;
	border-radius: 5px;
}
.ui-submit { display: none;}

.ui-slider-track {
    height: 0.5em !important;
    margin-top: 0.25em !important;
    background: #202020 !important;
    border-color: #303030 !important;
}

.ui-slider-handle .ui-btn-inner {
    background: #202020 !important;
    border-color: #303030 !important;
}

img.emblemImg {
	width: 120px;
}