div.activeDot {
	width: 16px;
	height: 16px;
	background: url('../img/black_dot.png');
	margin: 10px auto;
}

div.greyDot {
	width: 16px;
	height: 16px;
	background: url('../img/grey_dot.png');
	margin: 10px auto;
	cursor: pointer;
}

table td.tdLeft {
	width: 90%;
}

table td.tdRight {
	width: 10%;
}

.fillPanel {
	width: 100%;
}

.contentLeft {

}

.contentRight {

}

.unreadCheckbox {
	width: 62px;
	height: 62px;
	float: right;
	margin-right: 1em;
	background: url('../img/check.png');
	cursor: pointer;
}

.readCheckbox {
	width: 62px;
	height: 62px;
	float: right;
	margin-right: 1em;
	background: url('../img/check_green.png');	
}

div.scoreAnimationBegin {
	position: absolute;
	top: 50px;
	right: 20px;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	color: #fff;
	background: #017890;
	font-size: 40px;
	line-height: 80px;
}

.ui-title {
	text-shadow: none !important;
	font-size: 20pt !important;
	font-weight: normal !important; 
	text-transform: uppercase !important;	
}
